
/*主面板样式*/
#container {
    width:auto;
    min-width:750px;
    max-width:850px
    margin:5px auto;/*主面板DIV居中*/
    overflow-x: hidden;
    border:3px #F00 solid;
}
/*顶部面板样式*/
#header {
    width:100%;
    height:60px;
    border-bottom:1px RGBA(98,98,98,0.4) solid;
}
.header_left {
    float:left;
    margin-left: 1%;
    margin-top: 12px;
    width:180px;
    height:75%;
    text-align: center;
    font-family: "Garamond", serif;
    font-size: 30px;
    color: #5f9ea0;
    #border:2px #F00 solid;

}

.header_right {
    float:left;
    margin-left:14%;
    margin-top: 12px;
    width:60%;
    height:70%;
    #border:2px #F00 solid;
    padding-left: 7px;
}
.header_r {
    float:left;
    align-items:center;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 15px;
    width:17%;
    height:60%;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 17px;
    color: #626262;
    #border:2px #F00 solid;
}
.header_r:hover{
    background-color:#dee2e6;
    color: #5f9ea0;
}
/*中间部分面板样式*/
#main {
    width:100%;
    min-height:500px;
    #border:2px #F00 solid;
}

.mainleft {
    float:left;
    margin-left: 5%;
    margin-top: 3%;
    width:38%;
    max-width:330px;
    min-width:320px;
    height:85%;
    min-height:400px;
    #border:2px #F00 solid;
}
.mainleft_up {
    margin-top: 1%;
    margin-left: 3%;
    height:80%;
    max-height:300px;
    max-width:260px;
    align-items:center;
    #border:2px #F004 solid;
}
.mainleft_bottom {
    float:left;
    margin-left: 5%;
    margin-top: 3%;
    text-align:left;
    font-size: 11px;
    color: #626262;
    font-family: "Garamond", sans-serif;
    #border:2px #F004 solid;
}
.mainright {
    float:left;
    margin-top: 3%;
    margin-right: 1%;
    padding-top: 3%;
    width:50%;
    height:85%;
    #border:2px #F00 solid;
    padding-left: 1px;
}

.maincontent{
    margin: 3%;
    margin-top: 1%;
    padding-bottom:5%;
    #border:2px #F00 solid;
}

.cvtable{
    margin:2%;
    align-items:center;
}

#footer {
    text-align:left;
    height: 40px;
    padding-left: 2%;
    width:100%;
    border-top:1px #626262 solid;
    #border:2px #F00 solid;
    font-size: 12px;
}

p{
    font-family: "Georgia", sans-serif;
    font-size: 16px;
    word-break: break-all;
    hyphens: auto;
    -ms-hyphens: auto;
    padding-top: 1%;
    color: RGBA(0,0,0,0.8);
}
.p-a p{
    font-family: "Garamond", sans-serif;
    margin-top:40px;
    margin-bottom:10px}
}

.p-b p{
    margin-top:20px;
    margin-bottom:20px}
}

.edu{
    font-size: 11px;
    color: #626262;
    font-family: "Garamond", sans-serif;
}

.rsblock{
    width:99%;
    margin-left:1%;
    margin-top:3%;
    text-align: left;
    font-size: 20px;
    font-family: "Garamond", sans-serif;
    color: #008080;
    border-bottom:1px #5f9ea0 solid;
}

.rstitle{
    margin-top:2%;
    margin-left:3%;
    line-height: 17px;
    font-size: 13px;
    color: RGBA(0,0,0,0.8);
}

.rscontent{
    margin-left: 3%;
    margin-top:5px;
    line-height: 17px;
    font-size: 13px;
    color: RGBA(0,0,0,0.8);
}
/*底部面板样式*/




.photo{
    float: left;
    margin: 4%;
    margin-bottom: 2%;
}
