
/*主面板样式*/
#container {
    width:auto;
    min-width:750px;
    max-width:1000px
    margin:5px auto;/*主面板DIV居中*/
    overflow-x: hidden;
}
/*顶部面板样式*/
#header {
    width:100%;
    height:70px;
    border-bottom:1px #626262 solid;
}
.header_left {
    float:left;
    margin-top: 2%;
    width:180px;
    height:60%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #626262;
    #border:2px #F00 solid;
}
.header_right {
    float:right;
    margin-left:15%;
    margin-top: 2%;
    width:60%;
    height:60%;
    #border:2px #F00 solid;
    padding-left: 7px;
}
.header_r {
    float:left;
    align-items:center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 19px;
    width:80px;
    height:60%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #626262;
    #border:2px #F00 solid;
}
.header_r:hover{
    background-color:#dee2e6;
    color: #28a745;
}
/*中间部分面板样式*/
#main {
    width:100%;
    height:500px;
    border-bottom:1px #626262 solid;
}

.mainleft {
    float:left;
    margin-left: 3%;
    margin-top: 3%;
    width:38%;
    max-width:310px;
    min-width:300px;
    height:85%;
    #border:2px #F00 solid;
}
.mainleft_up {
    margin-top: 1%;
    margin-left: 13%;
    height:70%;
    max-width:220px;
    align-items:center;
    #border:2px #F004 solid;
}
.mainleft_bottom {
    margin-left: 3%;
    margin-top: 5%;
    text-align:left;
    height:30%;
    #border:2px #F004 solid;
}
.mainright {
    float:left;
    margin-left: 1%;
    margin-top: 3%;
    width:55%;
    height:85%;
    #border:2px #F00 solid;
    padding-left: 7px;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-top: 1%;
}
.edu{
    font-size: 10px;
    color: #626262;
}

/*底部面板样式*/
#footer {
    width:100%;
    height:80px;
}

.photo{
    float: left;
    margin: 4%;
    margin-bottom: 2%;
}