
/*主面板样式*/
#container {
    width:auto;
    min-width:750px;
    max-width:850px
    margin:5px auto;/*主面板DIV居中*/
    overflow-x: hidden;
}
/*顶部面板样式*/
#header {
    width:100%;
    height:60px;
    border-bottom:1px RGBA(98,98,98,0.4) solid;
}
.header_left {
    float:left;
    margin-left: 5%;
    margin-top: 15px;
    width:180px;
    height:75%;
    text-align: center;
    font-family: "Garamond", serif;
    font-size: 30px;
    color: #626262;
    border:2px #F00 solid;
}
.header_right {
    float:right;
    margin-right:1%;
    margin-top: 15px;
    width:60%;
    height:60%;
    #border:2px #F00 solid;
    padding-left: 7px;
}
.header_r {
    float:left;
    align-items:center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 19px;
    width:80px;
    height:60%;
    text-align: center;
    font-family: "Open sans", sans-serif;
    font-size: 15px;
    color: #626262;
    #border:2px #F00 solid;
}
.header_r:hover{
    background-color:#dee2e6;
    color: #5f9ea0;
}
/*中间部分面板样式*/
#main {
    width:100%;
    height:500px;
    border-bottom:1px #626262 solid;
}

.mainleft {
    float:left;
    margin-left: 5%;
    margin-top: 3%;
    width:38%;
    max-width:330px;
    min-width:320px;
    height:85%;
    border:2px #F00 solid;
}
.mainleft_up {
    margin-top: 1%;
    margin-left: 3%;
    height:80%;
    max-width:260px;
    align-items:center;
    #border:2px #F004 solid;
}
.mainleft_bottom {
    margin-left: 5%;
    margin-top: 3%;
    text-align:left;
    height:30%;
    #border:2px #F004 solid;
}
.mainright {
    float:left;
    margin-top: 3%;
    margin-right: 1%;
    width:50%;
    height:85%;
    border:2px #F00 solid;
    padding-left: 1px;
}
p{
    font-family: "Georgia", serif;
    font-size: 16px;
    padding-top: 1%;
    color: RGBA(0,0,0,0.8);
}

.edu{
    font-size: 11px;
    color: #626262;
    font-family: "Garamond", sans-serif;
}

/*底部面板样式*/
#footer {
    margin-bottom: 2%;
    margin-left: 3%;
    width:100%;
    height:50px;
}

.photo{
    float: left;
    margin: 4%;
    margin-bottom: 2%;
}